*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    background-color: rgb(15, 15, 15);
    margin-bottom: 0px;
}
#header .text-center{
    color: #fff;
}
#header .text-center h3{
    display: inline-block;
    margin-top: 10px;
}
#header .navbar-nav .nav-item{
    color: #fff;
}
#header .fa,sup{
    color: #fff; 
}
#header .navbar-nav .nav-link{
    color: #fff;
    display: inline-block;
}
#header .navbar-nav .nav-link:hover{
    color: rgb(180, 168, 168);
    cursor: pointer;
}
#header .fa:hover{
    opacity: 0.6;
}
#content{
    margin-top: 107px;
} 
.card-title, .card-text{
    color: pink;
}
.text-tt{
    background-color: rgb(65, 62, 62);
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding: 10px 50px 0px 30px;
}
.loi-nhan legend{
    width: 600px;
}
form{
    width: 400px;
}
label{
    display: block;
    margin-bottom: 10px;
}
input{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}
.btn-primary{
    padding: 10px;
    background-color: rgb(0, 0, 255);
    color: #fff;
    border-radius: 5px;
    border: 1px solid;
    display: block;
}