.logo{
    background-color: rgba(17, 17, 17, 1);
}

#demo .carousel-control{
    margin-left: 30px;
    margin-right: 30px;
}
/* .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
} */
/* 
.affix + .container-fluid {
    padding-top: 70px;
} */
#title1 p{
    background-color: lavender;
    border: 5px double black;
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin: 10px;
    padding: 5px;
}
#title2 p{
    background-color: lavender;
    border: 5px double black;
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin: 10px;
    padding: 5px;
}
#title3 p{
    background-color: lavender;
    border: 5px double black;
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin: 10px;
    padding: 5px;
}