*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lavender;
}
#header{
    background-color: rgb(20, 20, 20);
    
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
#header .text-center{
    color: #fff;
    text-align: center;
}


#header .navbar-nav .nav-item, sup{
    color: #fff;
}
#header .fa{
    color: #fff; 
}
#header .navbar-nav .nav-link{
    color: #fff;
    display: inline-block;
}
#header .navbar-nav .nav-link:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
#header .fa:hover{
    opacity: 0.6;
}
.row{
    background-color: #e9ecef;
}
#gioithieu{
    border: 1px solid;
    margin-top: 20px;
    margin-left: 10px;
    text-align: justify;
    padding: 10px;
    background-color:rgb(179, 179, 196);
}
#boloc{
    margin:10px;
    text-align: justify;
    background-color: rgb(138, 138, 218);
}
#boloc .dropdown{
    display: inline-block;
}
#gioithieu div h5{
    display: inline-block;
}
.carousel-inner img {
    width: 75%;
    height: 300px;
}
#title1 p{
    border: solid;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    background-color: rgb(188, 188, 253);
}
#title2 p{
    border: solid;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    background-color: rgb(188, 188, 253);
}
#title3 p{
    border: solid;
    text-align: center;
    font-weight: bold;
    background-color: rgb(188, 188, 253);
}
fieldset{
    border: 1px solid black;
}